<h1>Movie lists</h1>
<p>Find all the movie lists here</p>

<% @lists.each do |list| %>
  <li><%= link_to list.name, list_path(list) %></li>
<% end %>


<%= link_to new_list_path, class: 'btn btn-light' do %>
  <%= icon('fa-solid', 'folder-open') %>
  <%= "New list" %>
<% end %>
