<h1>Create a new list</h1>
<p>Save your favorite movies here and organize what you want to watch!</p>

<%= simple_form_for @list do |field| %>
  <%= field.input :name %>
  <%= field.submit %>
<% end %>
